.land-title-anim {
  overflow: hidden;
  min-height: 50px;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.land-title-anim h1 {
  /* transition:  1s ease-in-out; */
  animation: slideTop 5s forwards;
}



.land-detail-anim {
  overflow: hidden;
  transition: 1s ease-in-out;

}

.land-detail-anim p {
  transform: translateY(200px);
  animation: slideTop 5s .25s;
  min-height: 50px;

}



/* Fading animation */
@keyframes slideTop {
  0% {
    transform: translateY(200px);
  }

  10% {
    transform: translateY(0px);
  }

  90% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-200px);
  }
}


.land-img-anim {
  animation: slideAway 5s;
}



/* Fading animation */
@keyframes slideAway {
  0% {
    transform: translateX(200px) scale(.5);
    opacity: 0;
  }

  10% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }


  90% {
    transform: translateX(0px) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-200px) scale(.5);
    opacity: 0;
  }
}



.light-ray {
  animation: dimGlow .1s infinite;
}

/* Keyframes for dimming the light glow */
@keyframes dimGlow {
  0% {
    opacity: 0.9;
    /* filter: brightness(0.8); */
  }

  50% {
    opacity: 0.87;
    filter: brightness(1.01);
  }

  100% {
    opacity: 0.9;
    /* filter: brightness(0.8); */
  }
}


.swing-anim {
  animation: swing 5s infinite;
}


@keyframes swing {
  50% {
    transform: translateX(6px);
  }
}










/* Navbar container */


.navbar {
  position: fixed;
  color: #fff;
  padding: 10px 10%;
  transition: transform 0.3s ease;
  width: 100vw;
  z-index: 10;

}


.navbar_hidden {
  transform: translateY(-100%);
}

.navbar_after_scroll {
  background-color: #000000;
}


.border-img {
  display: none;
  z-index: -10;
}

.navbar_after_scroll .border-img {
  display: block;
}

.navbar_after_scroll .nav-menu .logo {
  mix-blend-mode: difference;
  height: 50px;
}


/* Menu toggle (hamburger icon) */
.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
  /* Hidden by default */
}

/* Nav menu styling */
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu .logo {
  mix-blend-mode: difference;
  height: 60px;
}

/* Nav menu items */
.nav-menu li {
  margin: 0;
}

/* Nav menu links */
.nav-menu a {
  font-size: .8em;
  line-height: 1em;
  display: block;
  padding: 14px 20px;
  color: #ccab86;
  text-decoration: none;
  /* font-family: 'nova_stamp'; */
  letter-spacing: 2px;
  z-index: 10;
  text-align: center;

}

/* Hover effect */
.nav-menu a:hover {
  /* background-color: #8a8a8a3d; */
  color: #fff;

}




/* ANIM */

.nav {
  --color: #ffffff;
  background: none;
  width: 100px;
  height: 56px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.nav svg {
  fill: none;
  stroke: var(--color);
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #ccab86;
}

.nav svg use:nth-of-type(1) {
  opacity: 1;
  stroke-dashoffset: 221;
  stroke-dasharray: 46 249;
  transition: stroke-dashoffset 0.12s linear 0.2s,
    stroke-dasharray 0.12s linear 0.2s, opacity 0s linear 0.2s;
}

.nav svg use:nth-of-type(2) {
  -webkit-animation: stroke-animation-reverse 1.2s ease-out forwards;
  animation: stroke-animation-reverse 1.2s ease-out forwards;
}

.nav input {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
}

.nav input:checked+svg use:nth-of-type(1) {
  stroke-dashoffset: 175;
  stroke-dasharray: 0 295;
  opacity: 0;
  transition: stroke-dashoffset 0.07s linear 0.07s,
    stroke-dasharray 0.07s linear 0.07s, opacity 0s linear 0.14s;
}

.nav input:checked+svg use:nth-of-type(2) {
  -webkit-animation: stroke-animation 1.2s ease-out forwards;
  animation: stroke-animation 1.2s ease-out forwards;
}

@-webkit-keyframes stroke-animation {
  0% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }

  50% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }

  65% {
    stroke-dashoffset: 59;
    stroke-dasharray: 59 236;
  }

  100% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }

  50% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }

  65% {
    stroke-dashoffset: 59;
    stroke-dasharray: 59 236;
  }

  100% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }
}

@-webkit-keyframes stroke-animation-reverse {
  0% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }

  50% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }

  65% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }

  100% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }
}

@keyframes stroke-animation-reverse {
  0% {
    stroke-dashoffset: 68;
    stroke-dasharray: 59 236;
  }

  50% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }

  65% {
    stroke-dashoffset: 295;
    stroke-dasharray: 25 270;
  }

  100% {
    stroke-dashoffset: 290;
    stroke-dasharray: 25 270;
  }
}





/* Responsive styles */
@media (max-width: 1300px) {
  .nav-menu {
    display: none;
    /* Hide menu items by default on mobile */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Ensure menu is on top */
    overflow-y: auto;
    /* Allow scrolling if necessary */
  }

  .nav-menu.active {
    display: flex;
    /* Show menu items when active */
  }

  .menu-toggle {
    display: block;
    /* Show hamburger icon on mobile */
  }

  .nav-menu a {
    padding: 20px;
    font-size: 24px;
  }
}


.swiper {
  width: 100%;
  height: 400px;
  margin: 100px 0px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* Cards Animation index.html */





.cards_container {
  position: relative;
  height: 260px;
  perspective: 100px;
  transform: translateX(50%);
  scale: 1.2;
}



.card {
  width: 200px;
  height: 260px;
  /* background-color: #cccccc20; */
  /* border: 15px solid white; */
  /* border-bottom: 60px solid white; */
  position: absolute;
  left: -100px;
  transform-origin: 100px 260px;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1); */
}

.card:hover {
  transform: translateY(-10px);
}


[card-1] {
  z-index: 1;
  animation: moveCard 5s infinite;


}



/* Define the keyframes for the animation */
@keyframes moveCard {
  0% {

    transform: rotate(-80deg) translate(-300px, 50px) skew(10deg);
    opacity: 0;
  }

  20% {
    transform: rotate(10deg) translate(10px);
    opacity: 1;
  }

  80% {
    transform: rotate(10deg) translate(10px);
    opacity: 1;

  }

  100% {
    opacity: 0;
    transform: rotate(80deg) translate(900px, 300px)
  }
}




[card-2] {
  transform: rotate(15deg) translate(20px, 0);
}

[card-3] {
  transform: rotate(-5deg) translate(30px, 0);
}

[card-4] {
  transform: rotate(3deg) translate(-30px, -10px);
}

[card-5] {
  transform: rotate(-8deg) translate(25px, 20px);
}






.container3d {
  width: 210px;
  height: 140px;
  /* position: absolute; */
  margin: auto;
  -webkit-perspective: 1100px;
  -moz-perspective: 1100px;
  -ms-perspective: 1100px;
  perspective: 1100px;

}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  -ms-transition: -ms-transform 1s;
  transition: transform 1s;
  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
}

#carousel:hover {
  animation-play-state: paused;
  -o-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

#carousel div {
  display: block;
  position: absolute;
  width: 180px;
  height: 120px;
  border: 2px solid #000;
}

#carousel div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#carousel div:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(288px);
  -moz-transform: rotateY(0deg) translateZ(288px);
  -ms-transform: rotateY(0deg) translateZ(288px);
  -o-transform: rotateY(0deg) translateZ(288px);
  transform: rotateY(0deg) translateZ(288px);
}

#carousel div:nth-child(2) {
  -webkit-transform: rotateY(40deg) translateZ(288px);
  -moz-transform: rotateY(40deg) translateZ(288px);
  -ms-transform: rotateY(40deg) translateZ(288px);
  -o-transform: rotateY(40deg) translateZ(288px);
  transform: rotateY(40deg) translateZ(288px);
}

#carousel div:nth-child(3) {
  -webkit-transform: rotateY(80deg) translateZ(288px);
  -moz-transform: rotateY(80deg) translateZ(288px);
  -ms-transform: rotateY(80deg) translateZ(288px);
  -o-transform: rotateY(80deg) translateZ(288px);
  transform: rotateY(80deg) translateZ(288px);
}

#carousel div:nth-child(4) {
  -webkit-transform: rotateY(120deg) translateZ(288px);
  -moz-transform: rotateY(120deg) translateZ(288px);
  -ms-transform: rotateY(120deg) translateZ(288px);
  -o-transform: rotateY(120deg) translateZ(288px);
  transform: rotateY(120deg) translateZ(288px);
}

#carousel div:nth-child(5) {
  -webkit-transform: rotateY(160deg) translateZ(288px);
  -moz-transform: rotateY(160deg) translateZ(288px);
  -ms-transform: rotateY(160deg) translateZ(288px);
  -o-transform: rotateY(160deg) translateZ(288px);
  transform: rotateY(160deg) translateZ(288px);
}

#carousel div:nth-child(6) {
  -webkit-transform: rotateY(200deg) translateZ(288px);
  -moz-transform: rotateY(200deg) translateZ(288px);
  -ms-transform: rotateY(200deg) translateZ(288px);
  -o-transform: rotateY(200deg) translateZ(288px);
  transform: rotateY(200deg) translateZ(288px);
}

#carousel div:nth-child(7) {
  -webkit-transform: rotateY(240deg) translateZ(288px);
  -moz-transform: rotateY(240deg) translateZ(288px);
  -ms-transform: rotateY(240deg) translateZ(288px);
  -o-transform: rotateY(240deg) translateZ(288px);
  transform: rotateY(240deg) translateZ(288px);
}

#carousel div:nth-child(8) {
  -webkit-transform: rotateY(280deg) translateZ(288px);
  -moz-transform: rotateY(280deg) translateZ(288px);
  -ms-transform: rotateY(280deg) translateZ(288px);
  -o-transform: rotateY(280deg) translateZ(288px);
  transform: rotateY(280deg) translateZ(288px);
}

#carousel div:nth-child(9) {
  -webkit-transform: rotateY(320deg) translateZ(288px);
  -moz-transform: rotateY(320deg) translateZ(288px);
  -ms-transform: rotateY(320deg) translateZ(288px);
  -o-transform: rotateY(320deg) translateZ(288px);
  transform: rotateY(320deg) translateZ(288px);
}

@-moz-keyframes rotating {
  from {
    -webkit-transform-origin: 60% 50%;
    -moz-transform-origin: 60% 50%;
    -o-transform-origin: 60% 50%;
    -ms-transform-origin: 60% 50%;
    transform-origin: 60% 50%;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform-origin: 60% 50%;
    -moz-transform-origin: 60% 50%;
    -o-transform-origin: 60% 50%;
    -ms-transform-origin: 60% 50%;
    transform-origin: 60% 50%;
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform-origin: 60% 50%;
    -moz-transform-origin: 60% 50%;
    -o-transform-origin: 60% 50%;
    -ms-transform-origin: 60% 50%;
    transform-origin: 60% 50%;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform-origin: 60% 50%;
    -moz-transform-origin: 60% 50%;
    -o-transform-origin: 60% 50%;
    -ms-transform-origin: 60% 50%;
    transform-origin: 60% 50%;
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@-o-keyframes rotating {
  from {
    -webkit-transform-origin: 60% 50%;
    -moz-transform-origin: 60% 50%;
    -o-transform-origin: 60% 50%;
    -ms-transform-origin: 60% 50%;
    transform-origin: 60% 50%;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform-origin: 60% 50%;
    -moz-transform-origin: 60% 50%;
    -o-transform-origin: 60% 50%;
    -ms-transform-origin: 60% 50%;
    transform-origin: 60% 50%;
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform-origin: 60% 50%;
    -moz-transform-origin: 60% 50%;
    -o-transform-origin: 60% 50%;
    -ms-transform-origin: 60% 50%;
    transform-origin: 60% 50%;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  to {
    -webkit-transform-origin: 60% 50%;
    -moz-transform-origin: 60% 50%;
    -o-transform-origin: 60% 50%;
    -ms-transform-origin: 60% 50%;
    transform-origin: 60% 50%;
    -webkit-transform: rotateY(-360deg);
    -moz-transform: rotateY(-360deg);
    -o-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}







.moving-gallery {
  transform: translateX(100%);
  animation: moving-gallery-anim 10s linear infinite;
  mix-blend-mode: luminosity;
}


@keyframes moving-gallery-anim {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}