/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #0c0c0e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    text-transform: uppercase;
}


@font-face {
    font-family: 'nova_stamp';
    src: url('./Fonts/nova_stamp_personal_use.ttf');
    font-weight: normal;
    font-style: normal;
}


h1 {
    text-transform: capitalize;
    font-size: 80px;
    line-height: 50px;
    font-family: 'nova_stamp';
}




section {
    padding: 0% 10% 0px 10%;
    overflow: hidden;
}



.row {
    display: flex;
    flex-direction: row;
}

.text-sec {
    color: #625035
}


.landing {
    background-image: url('./images/landing_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    color: #ccab86;
}

.landing .light {
    width: 20%;
    position: absolute;
    right: 10%;
    z-index: 1;
}

.landing .light-ray {
    position: absolute;
    right: -120px;
    top: -150px;
    z-index: 1;
    mix-blend-mode: lighten;
}


.landing .content {
    width: 100vw;
    margin-top: auto;
}

.landing .content .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.landing .content .details .texts {
    margin-top: auto;
    transform: translateY(-100px);
}

/* .landing .content .lines, */
.curosal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

}

.curosal img {
    width: 300px;
}

.curosal .arraw {
    width: 30px;
    animation: bounce 2s infinite;
    mix-blend-mode: lighten;
}

.curosal .revert {
    width: 30px;
    transform: scaleY(-1);
    animation: bounce_revert 2s infinite;
    animation-delay: 1s;

}


/* Keyframes for bounce animation */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
        /* Starting position */
    }

    50% {
        transform: translateY(20px);
        /* Move image up */
    }
}

/* Keyframes for bounce animation */
@keyframes bounce_revert {

    0%,
    100% {
        transform: translateY(-20px) scaleY(-1);
        /* Starting position */
    }

    50% {
        transform: translateY(0) scaleY(-1);
        /* Move image up */
    }
}


.indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* padding-bottom: 200px; */
    transform: translateY(-100px);

}


.indicators img {
    opacity: 0.2;
    transform: scale(.8);
}

.indicators .active {
    animation: pop 1s forwards;


}


/* Fading animation */
@keyframes pop {
    0% {
        opacity: .4;
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(.8);
        opacity: 1;
    }
}

.wood_button {
    background-image: url(./images/wood_button.png);
    background-size: cover;
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'nova_stamp';
    padding: 3px 20px 3px 20px;
    border: none;
    background-color: black;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    letter-spacing: 2px;
    cursor: pointer;

}





.wood_button:hover {
    letter-spacing: 1px;
}



.bg-edge {
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: contain;
}



/* .bg-edge{
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: contain;
} */




main {
    background-image: url(./images/background_.png);

}


section {
    /* min-height: 100vh; */
}

a {
    text-decoration: none;
    color: #493f2f
}

img:hover {
    mix-blend-mode: normal;

}

.about_gudam_img {
    position: relative;
}



.about_gudam_img_wheel {
    position: relative;
    left: 0;
    bottom: 60px;
    width: 70%;

}


.btn-dark {
    background-image: url(./images/dark-btn.png);
    background-size: contain;
    color: white;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    margin: 20px 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


.btn-dark::after {
    content: "";
    width: 60px;
    height: 10px;
    position: absolute;
    background-image: url(./images/arraw-btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.5s ease;
    opacity: 0;

}


.btn-dark:hover .btn-arrow {
    transform: translateX(150%);
}

.btn-dark:hover::after {
    transform: translateX(100%);
    opacity: 1;
    right: 70px;
}



/* Arrow image */
.btn-arrow {
    width: 60px;
    margin-left: 30px;
    transition: transform 0.2s ease;
}



.collections {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    position: relative;
}


/* art-gallery */


.art-head {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
}

.art-head .art-head-con {
    margin: auto;
    width: 30%;
}

.art-gallery {
    position: relative;
    margin: 100px 0;
}


.art-gallery .gallery-frames {
    display: flex;
    justify-content: space-between;
    gap: 6%;
    top: 0;
    z-index: 1;
    width: 100%;
    background-image: url(./images/line_hall_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    perspective: 140px;

}


.gallery-frames .wall {
    width: 100%;
    height: 30vw;
    /* background-color: #ff00ff05; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    overflow: hidden;
    /* The lower the value, the more extreme the perspective */
    /* background-color: #493f2f50; */

}



.wall .frames {
    display: flex;
    align-items: center;
    width: 100%;
    height: 160px;
    /* background-color: #ff000010; */
    margin-top: 10%;
    transform: translateX(200px);
    animation: move 10s linear infinite;
    /* transform: rotateY(40deg) rotateX(40deg) translateZ(-100px); */
    /* 10 seconds duration */
    transform-style: preserve-3d;
    /* background-color: red; */


    /* transform: rotateX(-45deg) rotateY(30deg); */

}

@keyframes move {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}



.gallery-frames .right {
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(-20deg) translateX(3vw) scaleY(1.3);
}

.gallery-frames .left {
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(20deg) translateX(-3vw) scaleY(1.3);
}

.gallery-frames .center {
    transform: translateY(-1vw);
}



.culture {
    justify-content: space-between;
    align-items: center;
}


/* Footer */
footer {
    background-image: url('./images/footer_bg.png');
    color: #ccab86;
    /* min-height: 70vh; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 5% 10%;

    display: grid;
    gap: 100px;
    grid-template-columns: 20% 20% 20% 20%;
    text-transform: capitalize;
    /* -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px); */

}

footer h3 {
    color: whitesmoke;
    font-weight: 200;
    margin: 40px 0 10px;
}

.logo_sec {
    padding: 0 !important;
}

.main_header.fixed {
    position: fixed;
    left: 0;
    background-color: #493f2f;
    z-index: 9;
    width: 100%;
    height: 110px;
}


.link {
    margin-top: 20px;

}


.link a {
    text-decoration: none;
    color: whitesmoke
}



.culture_left {
    text-align: left;
    flex: 1;
}


.culture_center {
    text-align: center;
    flex: 1;
    margin: auto;
    padding: 100px 0;
}



.contact-form {
    padding: 40px 0;
}

.contact-form .form-group {
    margin: 20px 0;
    width: 70%;
    border: 2px solid
}

.contact-form input,
textarea {
    background: transparent;
    border: none;
    outline-style: none;
    color: black;
    padding: 10px;
    font-size: 1em;
    width: 100%;
    font-weight: 600;
}

::placeholder {
    color: #625035;
    opacity: 1;
    /* Firefox */
    font-weight: lighter;

}

::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #625035;
    font-weight: lighter;

}





.section_2_image {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}

.section_2_image a {
    color: #0c0c0e;
    font-weight: bold;
    margin-left: 10px;
    text-transform: lowercase;
}


.section_2_image a:hover {
    color: #b5a087;
    font-weight: bold;
    margin-left: 10px;
    text-transform: lowercase;
}



.email-call {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: lowercase;
    margin-top: 20px;

}





@media (max-width: 768px) {

    section {
        padding: 0% 4% 0px 4%;
        overflow: hidden;
    }


    .landing .content .details,
    .about {
        flex-direction: column;
    }

    .about_gudam_img,
    .about_gudam_img_wheel {
        width: 100%;
    }

    #land_title h1 {
        font-size: 3em;
    }

    #land_detail p {
        font-size: 1em;
    }

    #product {
        max-height: 200px;
        width: auto;
    }



    .art-head {
        position: relative;
    }

    .art-head .art-head-con {
        width: 100%;
    }

    .art-gallery-links {
        flex-direction: column;
        padding: 0 10%;
        gap: 0px;
    }


    .culture {
        flex-direction: column;
    }


    .culture_left {
        text-align: left;
        width: 30%;
        flex: 1;
    }

    .culture_center {
        width: 25%;
        flex: 1;
        margin: 100px 0;
    }

    .culture_right {
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        width: 40%;
    }



    .culture_left {
        width: 100%;
        margin: 50px 0;
    }

    .culture_center {
        width: 100%;
        margin: 0 0;

    }

    .culture_right {
        width: 100%;
    }

    .collections {
        grid-template-columns: 100%;
    }



    .contact-form .form-group {
        width: 100%;
    }

    .section_2_image {
        background-color: #b5a08770;
    }




    footer {
        grid-template-columns: 100%;
        background-size: cover;
        background-image: none;
        gap: 50px;

    }

    footer .links{
        padding-left: 20px;
    }

    footer #black_div {
        display: none;
    }


}